
.cabecalho{
    background-color: #999;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30%;
    border-radius: 5px;

    ul{
        list-style: none;
        border-radius: 5px;
        li a{
            text-decoration: none;
            text-align: center;
            display: block;
            color: #fff;
            padding: 8px 16px;
            transition: ease-out 300ms;
            &:hover{
            background-color: #27ae60;
            }
        }
        

    }

}